{% extends 'base.html.twig' %}

{% block title %}E-shop website!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>E-shop Website</h1>

      Search for products, order products or sign up to our SMS newsletter:
    <ul>
        <li><a href="{{ path('search') }}">Search for products</a></li>
        <li><a href="{{ path('order') }}">Finalize your e-basket</a></li>
        <li><a href="{{ path('signup-sms') }}">Signup to SMS newsletter</a></li>
    </ul>
</div>
{% endblock %}
